body{
    font-family: 'Open Sans', 'Raleway', sans-serif;
}


.right-side{
    flex: 1;
}

.container{
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5%;
}

.social *{
    margin-right: 25px;
    font-size: 20px;
}

.whole{
    display: flex;
    flex-direction: row;
}















/*Sol Taraf*/

.left-side{
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-color:#2d2683;
}