body{
    font-family: 'Open Sans', 'Raleway', sans-serif;
}

header{
    display: flex;
    flex-direction: row;
}

.whole{
    display: flex;
    flex-direction: row;
}

.right-side{
    flex: 1;
}

.left-side{
    flex: 1;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: repeat-y;
    background-color:#2d2683;
}